

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.lead {
	font-size: 1.4em;
	line-height: 1.6;
}

#about img {
	background: #fff;
	padding: 8px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}















