<article class="full">
  <header>
    <h3><%= title %></h3>
    <span class="date"><%= date %></span>
  </header>

  <section class="article">
    <%= colorize(body) %>
  </section>

	<section class="arrow">
		<a class="up" href="#top">&uarr;</a>
	</section>
</article>

