<article>
<% for article in articles[0...20] %>
<section>
	<header>
    <h3 class="entry-title"><a href="<%= article.path %>"><%= article.title %></a></h3>
    <p class="entry-meta"><%= article.date %></p>
	</header>
	<section class="entry-content">
		<%= colorize(article.summary) %>
	</section>
	<footer>
		<!-- h3>article footer h3</h3 -->
		<p class="entry-meta"><a href="<%= article.path %>">read on &raquo;</a></p>
	</footer>
</section>	
<% end %>
</article>