<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>

  <link rel="author" href="/humans.txt" />
  <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
  <link rel="canonical" href="http://bill-ingram.com/">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
  <meta itemprop="name" content="Bill Ingram">
  <meta itemprop="description" content="Bill Ingram Software Developer | Web Designer | Librarian :: Technical lead for scholarly communication and repository services at the University of Illinois at Urbana-Champaign">
  <meta itemprop="image"
  content="http://www.gravatar.com/avatar/d72e758af6c2511728d5d78848774404.png">

  <meta name="application-name" content="bill-ingram.com" />
  <meta name="msapplication-tooltip" content="Software Developer |
  Web Designer | Librarian" />

  <meta property="og:title" content="Bill Ingram" />
  <meta property="og:description" content="Bill Ingram Software Developer | Web Designer | Librarian :: Technical lead for scholarly communication and repository services at the University of Illinois at Urbana-Champaign" />
  <meta property="og:image" content="http://www.gravatar.com/avatar/d72e758af6c2511728d5d78848774404.png" />

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/pygments.css">

	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div id="header-container">
	<div id="header-wrapper" class="wrapper">
		<header role="banner">
			<div id="face-group">
				<a id="follow-link" target="_blank" href="http://twitter.com/#!/sudobear">
					<img id="face" src="https://si0.twimg.com/profile_images/1239895188/image.jpg" alt="Bill Ingram">
				</a>	

			</div>
			<a href="http://bill-ingram.com" title="bill-ingram.com" rel="home" id="bill-ingram">
				<hgroup>
			    <h1 id="site-title">bill-ingram.com</h1>
			    <h2 id="site-description">Software Development for Libraries</h2>
				</hgroup>
			</a>
		</header>
		<nav id="access" role="navigation">
			<h3 class="assistive-text">Main menu</h3>
			<div class="skip-link">
				<a class="assistive-text" href="#main-container" title="Skip to primary content">Skip to primary content</a>
			</div>
			<div class="skip-link">
				<a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a>
			</div>
			<div class="menu-menu-container">
				<ul id="main-menu" class="menu">
	         <li><a title="About" href="/about/">About</a></li>
	         <li><a title="CV" href="/cv/">CV</a></li>
	         <li><a title="Archives" href="/archives/">Archives</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div id="main-container">
	<div id="main" class="wrapper clearfix">
		<%= yield %> 

		
		<aside id="secondary">
	    <div class="apps">
        <h3>Projects</h3>
        <ul>
          <li><a href="http://www.ideals.illinois.edu/">IDEALS</a></li>
          <li><a href="http://etd.ideals.illinois.edu/">Vireo</a></li>
          <li><a href="http://connections.ideals.illinois.edu/">BibApp</a></li>
          <li><a href="https://wiki.cites.uiuc.edu/wiki/display/~wingram2">Medusa</a></li>
        </ul>
      </div>	
      <div class="social">
        <h3>Social</h3>
        <ul>
          <li><a href="https://github.com/waingram">GitHub</a></li>
          <li><a href="http://www.linkedin.com/in/waingram">LinkedIn</a></li>
          <li><a href="http://www.flickr.com/people/billingram/">Flickr</a></li>
          <li><a href="https://plus.google.com/112120275257508476932/">Google+</a></li>
          <li><a href="http://twitter.com/#!/sudobear">Twitter</a></li>
        </ul>
        
		<a href="https://twitter.com/sudobear" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @sudobear</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
		</aside>
		
	</div> <!-- #main -->
</div> <!-- #main-container -->

<div id="footer-container">
	<footer class="wrapper">
		<p>Copyright © 2010-2012 <a href="http://bill-ingram.com/">Bill Ingram</a></p>
	</footer>
</div>
	
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-10899813-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
